@import url("./variables.scss");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}

body {
  background: rgb(18, 18, 20);
  background: linear-gradient(
    180deg,
    rgba(18, 18, 20, 1) 51%,
    rgba(22, 22, 23, 1) 93%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
