:root {
  --dark: rgb(31, 31, 31);
  --white: #fff;
  --teal: rgb(255, 72, 173);
  --purple: rgb(140, 0, 215);
  --blue: rgb(30, 0, 255);
  --github: #333;
  --email: #d93025;
  --linkedin: #0e76a8;
  --whatsapp: #075e54;
}
