.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding: 15px 9%;
}

@media (max-width: 768px) {
  .container {
  }
}

@media only screen and (min-width: 1366px) { 
  .container {
    padding:20px;
  }
}

@media screen and (min-width: 1920px) {
  /* CSS rules here */
}