.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 40px;
  height: 60px;
  width: 300px;
  background: #2b3278;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
  position: relative;
}

.active {
  height: 20px;
  width: 500px;

  @media (max-width: 768px) {
    width: 300px;
  }
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #252b6d;
  border-radius: 10px;
  transition: all 6s ease-in-out;
}

.active::before {
  animation: layer 6s ease-in-out forwards;
}

@keyframes layer {
  100% {
    left: 0%;
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}

.active .content {
  transform: translateY(60px);
}

.icon {
  color: #fff;
  font-size: 40px;
}

.buttonText {
  color: #fff;
  font-size: 1rem;
  margin-left: 8px;
}
