.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 40px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .subTitle {
    font-size: 30px;
    font-weight: 200;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .profileImg {
    width: 20%;
    border-radius: 50%;

    @media (max-width: 768px) {
      width: 30%;
      margin-bottom: 10px;
    }
  }
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  width: 40vw;

  @media (max-width: 768px) {
    justify-content: center;
    width: 100vw;
  }
}

.description {
  width: 60%;
  text-align: center;
  margin-top: 30px;

  @media (max-width: 768px) {
    font-size: 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.titleDescription {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 1rem;
    width: 80vw;
  }
}

.subTitleDescription {
  font-weight: 200;

  @media (max-width: 768px) {
    font-size: 0.9rem;
    width: 80vw;
  }
}